body {
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: center;
  flex-direction: column;
  align-items: flex;
}
h3 {
  color: white;
  h2 {
    color: white;
  }
}
p {
  color: rgb(39, 39, 39);
}
nav {
  background-color: #050505;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: left;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: right;
}
nav ul li {
  margin: 0 15px;
}
nav h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  justify-content: right;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #282928;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a:hover {
  background-color: #555;
  color: #ffffff;
}
#rooms-container {
  color: rgb(245, 245, 245);
  display: center;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.room {
  border: 1px solid #ddd;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.booking-form,
.booked-rooms {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  background-color: white;
}

h1 {
  color: rgb(235, 235, 235);
}
h2 {
  color: #fcfcfc;
}

input,
button {
  width: 80%;
  padding: 10px;
  margin: 5px 15px;
  border-radius: 15px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  width: 50%;
}

button:hover {
  background-color: #aee90e;
}
.menu h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.menu-section h2 {
  color: #333;
  font-size: 1.5em;
  margin-top: 20px;
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 5px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item h3 {
  font-size: 1.2em;
  margin: 0;
}

.description {
  font-size: 0.9em;
  color: #666;
  margin: 5px 0;
}
.price {
  font-weight: bold;
  color: #27ae60;
  font-size: 1.1em;
}
